/* Basic Grey */
body{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace, STHeiti;
}



.basic-grey,.comment-list {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    padding: 25px 15px 25px 10px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace, STHeiti;
    font-size: 12px;
    color: #0f0f0f;
}

.comment-list{
    margin-bottom: -2%;
}

.basic-grey{
    margin-top: 5%;
}

.basic-grey h1 ,.comment-list h1{
    font-size: 23px;
    padding: 0px 0px 0px 0px;
    display: block;
    margin: -20px 0px 15px 0px;;
    color: #0f0f0f;
}

.basic-grey h1 > span {
    display: block;
    font-size: 11px;
}

.basic-grey label {
    display: block;
    margin: 0px;
}

.basic-grey label > span {
    float: left;
    width: 8%;
    text-align: left;
    margin-left: 10px;
    color: #0f0f0f;
}

.narrow-span {
    margin-top: 8px;
}

.long-span {
    margin-top: 5px;
}

.basic-grey input,.basic-grey textarea{
    border-width: 1px;
    border-style: solid;
    border-color: #9d9d9d;
    border-radius: 3px;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 83%;
    font-size: 12px;
    line-height: 15px;
}



.basic-grey textarea{
    padding: 5px 3px 3px 5px;
    height: 150px;
}


.basic-grey .button {
    background: #555555;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 72%;
}

.basic-grey .button:hover {
    background: #9d9d9d;
}

.entry-title a{
    color: #000000;
}

.entry-title{
    margin-top:60px;
    margin-bottom:5px;
}

.entry-meta{
    margin-bottom: 40px;
}

.entry-title a:hover{
    color: #555555;
    font-weight: 100;
}

.entry-meta span{
    color: #737373;
}

input.tags-checkbox{
    display:none;
}
span.about{
    color:rgb(51,122,183);
}

a.side-list-title:hover{
    background-color:rgb(200,200,200)
}

a.side-list-title{
    background-color:rgb(200,200,200)
}

h4.side-list-item{
    margin:2px 0 0 2px
}

form.tags-form{
    line-height:26px
}

span.tags-span{
    margin:2px 2px 2px 2px
}

button.tags-submit{
    margin:20px 2px 2px 2px;
}

article{
    border-bottom:1px solid rgb(200,200,200);
    margin:5% 0 5% 0
}

.entry-title a{
    color: #000000;
}

.entry-title{
    margin-top:60px;
    margin-bottom:5px;
}

.entry-meta{
    margin-bottom: 40px;
}

.entry-title a:hover{
    color: #555555;
    font-weight: 100;
}

.entry-meta span{
    color: #737373;
}

ul li{
    list-style-type:none;
}